<div class="container">
    <section class="hero is-info">
      <div class="hero-body">
        <p class="title">"Name": "Postre de mango y fresa"</p>
      </div>
    </section>
    <section class="content">
      <p>Porciones:4</p>
      <p>Tiempo de preparacion: 20 minutos</p>
    </section>
    <section class="content">
      <h3>Ingredientes</h3>
      <table class="table">
        <thead>
              <tr>
                <th><abbr>Quantity</abbr></th>
                <th>Unit</th>
                <th><abbr>Product</abbr></th>
                <th><abbr>Notes</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>4</td>
                <td>Hojas</td>
                <td>menta</td>
                <td>desinfectadas</td>
              </tr>
            </tbody>
          </table>
    </section>
    <section class="content">
      <h3>Preparacion:</h3>
      <ul>
        <li>Licua la mitad de la lata de leche condensada con el mango congelado y vierte en 4 copas, reserva</li>
        <li>Licua la mitad de la lata de leche condensada con el mango congelado y vierte en 4 copas, reserva</li>
        <li>Licua la mitad de la lata de leche condensada con el mango congelado y vierte en 4 copas, reserva</li>
      </ul>
    </section>
</div>
<!--
{
    ,
    "Ingredients": [
        {
            "Quantity": 2,
            "Unit": "taza",
            "Product": "mango",
            "PreparationNotes": "congelado"
        }
    ],
    "PreparationSteps": [
        {
            "Order": 1,
            "Step": "Licua la mitad de la lata de leche condensada con el mango congelado y vierte en 4 copas, reserva"
        },
        {
            "Order": 2,
            "Step": "Licua las fresas congeladas con el resto de la leche condensada y vierte sobre la preparacion de mango"
        },
        {
            "Order": 3,
            "Step": "Decora con los cubos de mango, las rebanadas de fresa y las hojas de menta."
        }
    ],
    "Portions": 4,
    "PreparationTime": {
        "Time": 20,
        "Unit": "minutos",
        "TimeInSeconds": 1200
    }
},
-->